body, html{
  font-size:19px;
  height:1000px;
  background:black url("http://i.dawn.com/large/2014/12/549ceb8d35b01.jpg") repeat fixed;
  background-size:cover;
  min-width:300px;
  clear:both;
  margin:15px;
}
#mainheader{
      z-index:2;
      background:black url("http://i.imgur.com/yPG7Qt9.jpg") no-repeat center;
      position:absolute;
      top:1%;
      width:90%;
      max-height:20%;
      box-shadow: 5px 5px 10px lightgrey;
      border:.5rem solid rgba(255, 255, 255,0.1);
      border-radius:20px 20px 1000px 1000px;
}
/* Code for the little logo in the upper left*/
#mainheader h1 abbr{
  color:#baa010;
  margin-left:5rem;
  background:white url("http://blogs-images.forbes.com/startswithabang/files/2016/01/Milky_Way_at_Concordia_Camp_Karakoram_Range_Pakistan-1200x800.jpg") no-repeat center center;
  background-size:cover;
  border:12px groove #7dbd5a;
  border-radius:20rem;
  text-shadow: 1px 1px 3px black;
}
nav{
  text-align:center;
  white-space:nowrap;
}
nav li{
  list-style: none;
  margin-top:3rem;
  background-color:black;
  border:1px solid blue;
  display:inline-block;
  padding:10px;


}
li a:hover {
    background-color: red;
  }

#intro{
  z-index:1;
  position:relative;
  color:white;
  margin-top:250px;
  text-align:center;
  font-family:papyrus;
  border:20px solid darkgreen;
  border-image: url("http://www.halfmoonbaytrading.com/sites/all/themes/halfmoonbay/images/animation/wood_frame.png") 30 repeat;
  background:grey url("https://c2.staticflickr.com/6/5035/5886916180_e3a8860660_b.jpg") no-repeat center center fixed;
  background-size:100%;
  box-shadow: 10px 10px 10px lightgrey;
  width:90%;
}
h2 {
  text-shadow: 1px 1px 3px black;
}

/*article declarations that accomodate for the fixed header, still needs work to correctly display the last recipe*/
article{
  text-align:center;
  List-style-position:inside;
  padding:2rem;
  font-size:19px;
  background:lightblue;
  border:2rem solid rgba(0, 0, 0, 0.9);
  background-clip:padding-box;
  width:400px;
  length:auto;
}

article section{
  text-align:justify;
}
article img{
  border: 2rem solid black;
  border-radius: 12rem;
}
article#pork.pork {
    z-index:5;
    position: absolute;
    margin-right: 68rem;
    margin-top:2rem;
    max-width:30%;
    border-radius:10px 100px;

}
article#chicken {
    z-index:4;
    position:absolute;
    margin-left: 56rem;
    margin-top:2rem;
    max-width:30%;
    border-radius:10px 100px;
}
article#beef {
    z-index:3;
    position:absolute;
    margin-left: 26rem;
    margin-top:20rem;
    max-width:30%;
    border-radius:10px 100px;
}
footer{
    color:#682d79;
    font-weight:bold;
    font size:2rem;
    font-family:cursive;
    position:relative;
    margin-top:70%;
}
iframe{
    position:absolute;
    margin-left:34rem;
    width:400px;
    height:auto;
}
/*details disclosure widget styling*/
summary::-webkit-details-marker{
    display:none;
}
